html, body {
padding: 2em;
height: 100%;

}

.grid-container{
background-color: gray;
padding: 2em;
height: 80%;

display:grid;
// grid-template-columns: 1fr 2fr;
// grid-template-rows: repeat(1fr);

grid-template: 50px 1fr 50px / 300px 1fr;
row-gap: 10px;
column-gap: 30px;

}

.grid-items{
    border: 1px solid white;
}

.teal{
background-color: teal;
}

.pink{
background-color: pink;

}

.yellow{
background-color: yellow;
color: purple;
}

.purple{
background-color: purple;

}