.grid-container{
background-color: rgb(161, 159, 159);
padding: 2em;
display: grid;

}

.teal{
background-color: teal;
}

.pink{
background-color: pink;

}

.yellow{
background-color: yellow;

}

.purple{
background-color: purple;

}